<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Phantom_Devz Vue Form</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>


    <div id="app">
        <h1>Phantom_Devz Vue Form</h1>
        <form @submit="submitForm" action="">
            <label for="name">First Name</label>
            <input type="text" name="firstname" id="firstname" v-model="firstname" required/>
            <label for="name">Last Name</label>
            <input type="text" name="lastname" id="lastname" v-model="lastname" required/>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" v-model="email" required/>
            <label for="phonenumber">Phone Number</label>
            <input type="tel" name="phonenumber" id="phonenumber" v-model="phonenumber" required/>
            <button type="submit">Submit</button>    
        </form>

        <h3>Hello {{ firstname }}, please confirm your details below before submitting:</h3>

        <div class="input-container">
            
            <div class="name-info">
                <p><strong>First Name:</strong> {{ firstname }}</p>
                <p><strong>Last Name:</strong> {{ lastname }}</p>
            </div>
            <div class="other-info">
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Phone Number:</strong> {{ phonenumber }}</p>
            </div>
            
        </div>
    </div>

        <script>
             new Vue({
                el: '#app',
                data: {
                        firstname: '',
                        lastname: '',
                        email: '',
                        phonenumber: ''               
                },
                methods: {
                    submitForm: function(e) {
                    
                        e.preventDefault();
                        alert(`Thank you ${this.firstname} your form has been submitted.`);    

                        this.firstname = '';
                        this.lastname = '';
                        this.email = '';
                        this.phonenumber = '';
                        

                    }
                    
                },
            })
        </script>
    
</body>
</html>